.navigation {
  background-color: var(--pk-teal);
  color: white;
  display: flex;
  justify-content: center;
}

.content {
  width: calc(100% - 2rem);
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  all: unset;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
