.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  container-type: inline-size;
  container-name: productContainer;
}

.addProductButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* padding: 0.5rem; */
  border: none;
  border-radius: 50%;
  background-color: var(--pk-teal);
  color: white;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.15) 0px 1px 18px 0px;
}

.addProductButton > svg {
  width: 3rem;
  height: 3rem;
}

.controls {
  display: flex;
  align-items: stretch;
  width: 95%;
  max-width: 800px;
  margin: 0.5rem auto 1rem auto;
}

.searchContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchContainer svg {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

#searchLabel {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-40%);
}

#searchInput {
  padding: 0.5rem 0 0.5rem 2.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--pk-light-gray);
  width: 100%;
  font-size: 1rem;
}

.clearSearchButton {
  position: absolute;
  top: 50%;
  right: 1.75rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.sortButton {
  all: unset;
  margin: 0 0.25rem;
}

.popoverContent {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.15) 0px 1px 18px 0px;
  display: flex;
  flex-direction: column;
}

.popoverContent > button {
  /* all: unset; */
  border: none;
  background-color: transparent;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  /* font-weight: 600; */
  font-size: 1.2rem;
}

.popoverContent > button:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.popoverContent > button:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.popoverContent > button > svg {
  margin-right: 0.5rem;
  visibility: hidden;
}

.popoverContent > .activeSortOption > svg {
  visibility: visible;
}

.activeSortOption {
  background-color: var(--pk-teal) !important;
  color: white;
}

.popoverArrow {
  fill: white;
}

.popoverArrow[data-activeIndex="0"] {
  fill: var(--pk-teal);
}

.productList {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 0.75rem;
  margin: 0 auto 4rem auto;
  container-type: inline-size;
  container-name: productList;
}

.productCard {
  display: flex;
  align-items: stretch;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--pk-light-gray);
  height: 110px;
}

.previewImg {
  width: 30%;
  max-width: 100px;
  flex-shrink: 0;
  border-radius: 12px 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder {
  width: 30%;
  max-width: 100px;
  flex-shrink: 0;
  background-color: var(--pk-light-gray);
  border-radius: 12px 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder > svg {
  fill: var(--pk-dark-gray);
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  width: 70%;
}

.productInfo > h3 {
  margin: 0 0 0.5rem 0;
}

.productInfo p {
  margin: 0 0 0.25rem 0;
}

.productInfo progress {
  width: 100%;
}

.productInfo progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.productInfo progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--pk-celtic-blue);
}
.productInfo progress[value]::-webkit-progress-value {
  background-color: var(--pk-celtic-blue);
  border-radius: 12px;
}
.productInfo progress[value]::-moz-progress-bar {
  background-color: var(--pk-celtic-blue);
  border-radius: 12px;
}
.tags {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  min-height: 1.5rem;
}

.tag {
  font-size: 0.8rem;
  background-color: var(--pk-light-gray);
  padding: 0.25rem;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .controls {
    margin: 1rem auto;
  }
  #searchInput {
    font-size: 1.2rem;
  }
  .productCard {
    height: 150px;
  }

  .previewImg {
    max-width: 150px;
  }
  .imagePlaceholder {
    max-width: 150px;
  }
  .productInfo {
    padding: 1rem;
    width: 100%;
  }
}

@container productContainer (min-width: 1000px) {
  .productList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .productCard {
    width: calc(50% - 1rem);
  }
}
